@{
    ViewData["Title"] = "Home Page";
}

<div class="card shadow mb-4">
    <div class="card-header py-3">
        <h4 class="m-0 font-weight-bold text-primary">@ViewData["Title"]</h4>
    </div>
    <div class="card-body">
        <div class="table-responsive">
            <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
            </table>


            <button type="button" class="btn btn-primary"><i class="fas fa-plus"></i> Add Policy</button>
        </div>
    </div>
</div>
