@{
    ViewData["Title"] = "Home Page";
}

<div class="card shadow mb-4">
    <div class="card-header py-3">
        <h4 class="m-0 font-weight-bold text-primary">@ViewData["Title"]</h4>
    </div>
    <div class="card-body">
        <div class="table-responsive">
            <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                <thead>
                <tr>
                    <th> Grid Name</th>
                    <th> link</th>
                </tr>
                </thead>
                <tbody>
                <tr>
                    <th> jsGrid </th>
                    <th> <a asp-controller="JsGrid" asp-action="Index"> jsGrid Page</a></th>
                </tr>
                <tr>
                    <th> jsGrid </th>
                    <th> <a asp-controller="JsGrid" asp-action="Employee"> Employee Grid Example</a></th>
                </tr>
                <tr>
                    <th> DataTables </th>
                    <th> </th>
                </tr>

                </tbody>
            </table>


            
        </div>
    </div>
</div>
