
@{
    ViewData["Title"] = "Employee Grid";
}

@section styles
{

    <link type="text/css" rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/jsgrid/1.5.3/jsgrid.min.css" />
    <link type="text/css" rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/jsgrid/1.5.3/jsgrid-theme.min.css" />

    <style>
        .jsgrid {
            font-size: 0.8em;
        }

        .table td, .table th {
            padding: .2rem;
        }

        .jsgrid input, .jsgrid select, .jsgrid textarea {
            font-size: 0.8em;
        }


        /*Bootstrap Pagination css */
        .jsgrid-pager {
            padding-left: 0;
            display: flex;
            list-style: none;
            border-radius: .25rem;
        }

        .jsgrid-pager-page, .jsgrid-pager-nav-button {
            position: relative;
            display: block;
            padding: .5rem .75rem !important;
            margin-left: -1px;
            line-height: 1.25;
            color: #007bff;
            background-color: #fff;
            border: 1px solid #dee2e6;
        }

        .jsgrid-pager span:first-child {
            margin-left: 0 !important;
            border-top-left-radius: .25rem !important;
            border-bottom-left-radius: .25rem !important;
        }

        .jsgrid-pager span:last-child {
            border-top-right-radius: .25rem;
            border-bottom-right-radius: .25rem;
        }

        .jsgrid-pager-nav-inactive-button {
            display: block !important;
            pointer-events: auto !important;
        }

        .jsgrid-pager-nav-inactive-button a {
            color: #007bff !important;
        }

        .jsgrid-pager-page:hover, .jsgrid-pager-nav-button:hover {
            z-index: 2;
            color: #0056b3;
            text-decoration: none;
            background-color: #e9ecef;
            border-color: #dee2e6
        }

        .jsgrid-pager-page:focus, .jsgrid-pager-nav-button:focus {
            z-index: 2;
            outline: 0;
            box-shadow: 0 0 0 .2rem rgba(0, 123, 255, .25)
        }

        .jsgrid-pager-current-page {
            font-weight: 400 !important;
            cursor: pointer !important;
            z-index: 1;
            color: #fff;
            background-color: #007bff;
            border-color: #007bff;
        }

        .jsgrid-pager-current-page:hover {
            color: #fff;
            background-color: #007bff;
            border-color: #007bff;
        }

        .jsgrid-grid-header,
        .jsgrid-grid-body {
            overflow: auto;
        }


        .jsgrid input, .jsgrid select, .jsgrid textarea {
            font-size: 1em;
            border: 1px solid #cdcdcd;
        }


        /* Grid dropdown style*/
        .jsgrid-cell select{
            font-size: 0.9em;
            font-weight: bold;
            border: 1px solid #cfcfcf;
        }

        .jsgrid-cell select > option {
            font-size: 0.9em;
            font-weight: bold;
            border: 1px solid #cfcfcf;
        }


        tr.highlight td.jsgrid-cell {
            background-color: #4CACD9;
            font-weight: bold;
            font-size: 0.9em;
        }


        /*grid current page style*/

       /* .jsgrid-pager-page, .jsgrid-pager-nav-button{
            padding: .4rem 075rem !important;
            line-height: 1;
        }*/
       
        .jsgrid-pager-current-page {
            color: #fff;
            background-color: #f35800;
            border-color: #f35800;
        }

        /*Control Column width*/
       .jsgrid-control-field{
            width: 80px !important;
        }


       /*input element focus style*/
        textarea:focus,
        input[type="text"]:focus,
        input[type="password"]:focus,
        input[type="datetime"]:focus,
        input[type="datetime-local"]:focus,
        input[type="date"]:focus,
        input[type="month"]:focus,
        input[type="time"]:focus,
        input[type="week"]:focus,
        input[type="number"]:focus,
        input[type="email"]:focus,
        input[type="url"]:focus,
        input[type="search"]:focus,
        input[type="tel"]:focus,
        input[type="color"]:focus,
        .uneditable-input:focus {
            border-color: rgba(114, 140, 140, 0.7);
            box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075) inset, 0 0 8px rgba(114, 140, 140, 0.6);
            outline: 0 none;
        }

    </style>

}

<div class="container-fluid">
    <div class="card shadow mb-4">
        <div class="card-header py-3">
            <h6 class="m-0 font-weight-bold text-primary">@ViewData["Title"]</h6>
        </div>
        @*<div>
            <button type="submit" id="btnDownloadExcel">Download Excel</button>
        </div>*@

        <div class="card-body">
            <div class="row">
                <div class="col-auto mr-auto">
                    <div class="input-group input-group-sm">
                        <div class="input-group-prepend">
                            <label class="input-group-text" for="pageSize">Page Size</label>
                        </div>
                        <select class="custom-select" id="pageSize">
                            <option value="10" selected="selected">10</option>
                            <option value="50">50</option>
                            <option value="100">100</option>
                            <option value="1000">1000</option>
                        </select>
                    </div>
                </div>
                <div class="col-auto">
                    <div class="input-group input-group-sm">
                        <div class="input-group-prepend">
                            <label class="input-group-text">Total Records : <span id="totalRecords" style="font-size: 0.9em;" class="badge badge-info">0</span></label>
                        </div>
                    </div>
                </div>
            </div>
            <div class="table-responsive" id="jsGrid"></div>
        </div>
    </div>
</div>

@section Scripts
{
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jsgrid/1.5.3/jsgrid.min.js"></script>
    <script type="text/javascript" src="~/js/employeeJsGrid.js"></script>
    <script>
        $(function() {

            var size = $("#pageSize")[0].value;
            //$("#jsGrid").jsGrid("option", "pageSize", this.value);

            $("#pageSize")
                .on('change', function(event) {
                    $("#jsGrid").jsGrid("option", "pageSize", this.value);
                    $(".jsgrid-pager").prepend("<span class='page-item disabled'><a class='page-link' href='#' tabindex='-1'>Pages : </a></span>");
                });

            const emp = new Employee('#jsGrid','#pageSize');
            emp.Init();

            /*Extending selected row background color */
            jsGrid.Grid.prototype.rowByIndex = function (arg) {
                //this._content.find("tr")[arg] returns a DOM element instead of a jQuery object.
                //Pass the DOM element to the find method to get a jQuery object representing it.
                return this._content.find(this._content.find("tr")[arg]);
            };
        });

        $("#btnDownloadExcel").click(function() {
            var parameters = {
            };
            window.open("https://localhost:44356/api/download/excel");
        });


    </script>



}
